{% extends 'core/base.html' %}
{% block title %}Welcome |{% endblock %}

{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-4xl lg:text-6xl text-teal-400" style="font-family:'Luckiest Guy';">ChatIQ!</h1>
    <p style="font-size:xx-large; font-family:'Lemon',serif; font-weight:900; color: whitesmoke; margin-top:5px;">"Discover the freedom of unbounded conversation with our real-time chat application. Dive into diverse rooms, each a unique space for untethered dialogue. Join, chat, and connect seamlessly without interruptions. Your conversations, your space – where every room is an open door to limitless interaction."</p>
</div>
{% endblock %}